{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"plugin:react/recommended",
		"standard",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:sonarjs/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"plugin:switch-case/recommended",
		"plugin:prettier/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"project": "tsconfig.json",
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"sonarjs",
		"import",
		"sort-imports-es6-autofix",
		"no-use-extend-native",
		"switch-case",
		"autofix"
	],
	"rules": {
		"@typescript-eslint/camelcase": [
			"error",
			{
				"ignoreDestructuring": true,
				"properties": "always"
			}
		],
		"@typescript-eslint/interface-name-prefix": [
			"error",
			{
				"prefixWithI": "always"
			}
		],
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-inferrable-types": [
			"warn",
			{
				"ignoreParameters": true
			}
		],
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/no-var-requires": "warn",
		"dot-notation": "error",
		"import/default": "warn",
		"import/extensions": [
			"error",
			"never",
			{
				"json": "always",
				"svg": "always",
				"png": "always",
				"jpg": "always"
			}
		],
		"import/no-default-export": "error",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
		"import/no-named-as-default-member": "off",
		"import/no-useless-path-segments": "error",
		"import/order": "off",
		"import/prefer-default-export": "off",
		"lines-between-class-members": ["error", "always"],
		"new-cap": [
			"error",
			{
				"capIsNew": false
			}
		],
		"no-unused-expressions": "off",
		"autofix/padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": "*",
				"next": [
					"block",
					"block-like",
					"cjs-export",
					"class",
					"continue",
					"debugger",
					"directive",
					"do",
					"for",
					"function",
					"if",
					"iife",
					"return",
					"switch",
					"throw",
					"try",
					"while",
					"with"
				]
			},
			{
				"blankLine": "always",
				"prev": "break",
				"next": ["case", "default"]
			}
		],
		"prettier/prettier": "warn",
		"react/prop-types": "off",
		"sonarjs/cognitive-complexity": "off",
		"sonarjs/no-duplicate-string": "off",
		"sort-imports-es6-autofix/sort-imports-es6": "error",
		"switch-case/newline-between-switch-case": ["error", "always", { "fallthrough": "never" }]
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": false,
				"directory": "tsconfig.json"
			}
		}
	}
}
